# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.PopupGenerator_v2022.3.32f1.iml
/projectSettingsUpdater.xml
/modules.xml
/contentModel.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
